in this notebook 
we want to 
build an algorithm to see if a job and a candidate matched with each other
the method is to 
calculate the matching scores between JD and candidate

•	Use equation to give each matching score
•	Then give weights to different matching score to calculate the overall_matching_score.
•	In the future, if we have more data, we could use machine learning to adjust the weight of each score.

# Equations

Time_matching_score: easy
Mission.jobStart, jobEnd
MissionCandidate.availableFrom, availableUntil
1. we first only consider jobStart, equation to calculate score is:
-|jobStart - availableFrom|/100
2. the value is around [-1, 0] the higher the value the better matched.


Salary_matching_score: easy
Mission.salaryMin/ salaryMax, 
MissionCandidate.minSalaryExpect, maxSalaryExpect
1. we first only cansider minSalaryExpect, equation to calculate score is:
-|salaryMin - minSalaryExpect|/10000
2. the value is around [-1, 0] the higher the value the better matched.


hardSkill_matching_score: not easy
Mission.requirementsDescription (use GPT to extract hardskills required)
MissionCandidateHardSkill
steps to get general hardskill matching:
1. use GPT to extract hardskills from Mission.requirementsDescription
2. use GPT to generate hardskills higher level categories (expdected to be below 20)
3. use GPT to categorise hardskillrequired and candidatehardskill into higher level categories 
4. count how many higher level hardskills matched
5. the count is the score
steps to get specific hardskill matching:
1. count how many specific level hardskills matched
2. the count is the score

position_matching_score: not easy
Mission.position
MissionCandidateHardSkill
1. create a list of hardskills candidate has
2. ask GPT with those hard skills, what is the likelihood for him to be qualified for a position
3. give likelihood in percentage between [0,100%], which is the score

location_matching_score: easy
MissionLocation
MissionCandidateMobility
MissionCandidate.location (not used)
steps:
1. there are two levels of location: continent and country
2. generate both levels of location for client company location
3. see if any of two client company locations matched with MissionCandidateMobility
4. if any matched, give 1 score. if not matched, give 0 score


language_matching_score: not easy
Mission.requirementsDescription (use GPT to extract language required)
MissionLanguage
MissionCandidateLanguage
1. use GPT to extract language required from Mission.requirementsDescription
2. MissionCandidateLanguage and Mission.requirementsDescription compare if any matched
3. count the matched language number as the score


sectorExp_matching_score:
Mission.sectorExpMin
MissionCandidate. we do not have candidate sectorExp data


positionExp_matching_score:
Mission.positionExp
MissionCandidate. we do not have candidate positionExp data

degree_matching_score:
Mission.position
MissionCandidate.degreeSubject
1. ask GPT with those degreeSubject, what is the likelihood for him to be qualified for a position
2. give likelihood in percentage between [0,100%], which is the score

From the CSM & Hot Leads airtable (candidates proposed by headhunters), we can have the following information:
1. time available from
2. minSalaryExpect
3. hardskills
   Mission's position
4. Mission's locationCity
   candidate's mobility locations
5. languages
6. sectorExp positionExp we do not have info 
7. candidate's degreeSubject

# SQL to select and merge the columns from MySQL:

Select airtableId, jobStart, jobEnd, salaryMin, salaryMax, requirementsDescription,
position, sectorExpMin, sectorExpMax, positionExpMin, positionExpMax
From Mission

FULL OUTER JOIN 

    (Select airtableId, missionId, availableFrom, availableUntil, minSalaryExpect, maxSalaryExpect,      degreeSubject From MissionCandidate)

ON Mission.airtableId = MissionCandidate.missionId;


Select missionCandidate, GROUP_CONCAT(hardSkill) 
From MissionCandidateHardSkill
GROUP BY missionCandidate;

Select missionCandidate, GROUP_CONCAT(location)  
From MissionCandidateMobility
GROUP BY missionCandidate;

Select mission, GROUP_CONCAT(location) 
From MissionLocation
GROUP BY mission;

Select missionCandidate, GROUP_CONCAT(language) 
From MissionCandidateLanguage
GROUP BY missionCandidate;

Select mission, GROUP_CONCAT(language) 
From MissionLanguage
GROUP BY mission;

SQL code revised by chatGPT is shown below:
also we need to output two seperate tables: mission_forMatching and candidate_forMatching

SELECT 
    * 
FROM
    (
        SELECT 
            Mission.airtableId, 
            Mission.jobStart, 
            Mission.jobEnd, 
            Mission.salaryMin, 
            Mission.salaryMax, 
            Mission.requirementsDescription,
            Mission.position, 
            Mission.sectorExpMin, 
            Mission.sectorExpMax, 
            Mission.positionExpMin, 
            Mission.positionExpMax
        FROM 
            Mission
    ) AS Mission

RIGHT JOIN
    (
        SELECT 
            MissionCandidate.airtableId, 
            MissionCandidate.missionId, 
            MissionCandidate.availableFrom, 
            MissionCandidate.availableUntil, 
            MissionCandidate.minSalaryExpect, 
            MissionCandidate.maxSalaryExpect, 
            MissionCandidate.degreeSubject, 
            MissionCandidate.status
        FROM 
            MissionCandidate
    ) AS mc
ON 
    Mission.airtableId = mc.missionId
    
LEFT JOIN 
    (
        SELECT 
            missionCandidate, 
            GROUP_CONCAT(hardSkill) as MissionCandidateHardSkills
        FROM 
            MissionCandidateHardSkill
        GROUP BY 
            missionCandidate
    ) AS mchs
ON 
    mc.airtableId = mchs.missionCandidate

LEFT JOIN 
    (
        SELECT 
            missionCandidate, 
            GROUP_CONCAT(location) as MissionCandidateLocations
        FROM 
            MissionCandidateMobility
        GROUP BY 
            missionCandidate
    ) AS mcm
ON 
    mc.airtableId = mcm.missionCandidate

LEFT JOIN 
    (
        SELECT 
            mission, 
            GROUP_CONCAT(location) as MissionLocations
        FROM 
            MissionLocation
        GROUP BY 
            mission
    ) AS ml
ON 
    Mission.airtableId = ml.mission
    
LEFT JOIN 
    (
        SELECT 
            missionCandidate, 
            GROUP_CONCAT(language) as MissionCandidateLanguages
        FROM 
            MissionCandidateLanguage
        GROUP BY 
            missionCandidate
    ) AS mcl
ON 
    mc.airtableId = mcl.missionCandidate

LEFT JOIN
    (
        SELECT 
            mission, 
            GROUP_CONCAT(language) as MissionLanguages
        FROM 
            MissionLanguage
        GROUP BY 
            mission
    ) AS mla
ON 
    Mission.airtableId = mla.mission;

Also if we need to 
# Output two seperate tables: mission_forMatching and candidate_forMatching
then the SQL code is below:

$ the below code outputs mission_forMatching

SELECT 
    * 
FROM
    (
        SELECT 
            Mission.airtableId, 
            Mission.jobStart, 
            Mission.jobEnd, 
            Mission.salaryMin, 
            Mission.salaryMax, 
            Mission.requirementsDescription,
            Mission.position, 
            Mission.sectorExpMin, 
            Mission.sectorExpMax, 
            Mission.positionExpMin, 
            Mission.positionExpMax
        FROM 
            Mission
    ) AS Mission

LEFT JOIN 
    (
        SELECT 
            mission, 
            GROUP_CONCAT(location) as MissionLocations
        FROM 
            MissionLocation
        GROUP BY 
            mission
    ) AS ml
ON 
    Mission.airtableId = ml.mission
    
LEFT JOIN
    (
        SELECT 
            mission, 
            GROUP_CONCAT(language) as MissionLanguages
        FROM 
            MissionLanguage
        GROUP BY 
            mission
    ) AS mla
ON 
    Mission.airtableId = mla.mission;


$ the below code outputs candidate_forMatching

SELECT 
    * 
FROM

    (
        SELECT 
            MissionCandidate.airtableId, 
            MissionCandidate.missionId, 
            MissionCandidate.availableFrom, 
            MissionCandidate.availableUntil, 
            MissionCandidate.minSalaryExpect, 
            MissionCandidate.maxSalaryExpect, 
            MissionCandidate.degreeSubject,
            MissionCandidate.status

        FROM 
            MissionCandidate
    ) AS mc

LEFT JOIN 
    (
        SELECT 
            missionCandidate, 
            GROUP_CONCAT(hardSkill) as MissionCandidateHardSkills
        FROM 
            MissionCandidateHardSkill
        GROUP BY 
            missionCandidate
    ) AS mchs
ON 
    mc.airtableId = mchs.missionCandidate

LEFT JOIN 
    (
        SELECT 
            missionCandidate, 
            GROUP_CONCAT(location) as MissionCandidateLocations
        FROM 
            MissionCandidateMobility
        GROUP BY 
            missionCandidate
    ) AS mcm
ON 
    mc.airtableId = mcm.missionCandidate
    
LEFT JOIN 
    (
        SELECT 
            missionCandidate, 
            GROUP_CONCAT(language) as MissionCandidateLanguages
        FROM 
            MissionCandidateLanguage
        GROUP BY 
            missionCandidate
    ) AS mcl
ON 
    mc.airtableId = mcl.missionCandidate

# Hardskills high-level generation (100 categories) using prompting

In [ ]:
# ! pip install openai

import os
import openai
import pandas as pd
import numpy as np
import json

In [89]:
HardSkill = pd.read_csv('HardSkill.csv') 
HardSkill

HardSkill_list = HardSkill['label'].tolist()
len(HardSkill_list)
# HardSkill_list
# so we have 17244 hardskills in total
# then we want to use OpenAI to summarise those 17244 skills into 100 higher level categories

17244

In [79]:
# openai.api_key = os.getenv("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")
openai.api_key = "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"
COMPLETIONS_MODEL = "text-davinci-003"


def request_completion(prompt):
    
    completion_response =   openai.Completion.create(
                            prompt=prompt,
                            temperature=0,
                            max_tokens=400,
                            top_p=1,
                            frequency_penalty=0,
                            presence_penalty=0,
                            model=COMPLETIONS_MODEL
                            )
        
    return completion_response

In [85]:
# prompting
Hardskills_high_level_generation_prompt = f'''


You need to create 70 categories of hard skills. 
These 70 categories of hard skills should be in a high level, 
which means they should not be specific.
Each of those 70 categories should contain a wide range of specific hard skills.





'''

# The HardSkill_list is delimited by triple backticks: 
# ```{HardSkill_list}```.

# Examples of specific hard skills are: python, java, SQL,
# while their higher level categories are programming, software engineering

# Provide the result in a list containing 70 categories of hard skills.

In [86]:
# Use our completion function to return a prediction
completion_response = request_completion(Hardskills_high_level_generation_prompt)

In [87]:
print(completion_response['choices'][0]['text'])

1. Business Administration: Accounting, Financial Analysis, Budgeting, Business Planning, Project Management, Human Resources, Marketing, Sales, Customer Service
2. Technology: Programming, Networking, Database Management, Web Development, Software Engineering, Cybersecurity, Cloud Computing, Artificial Intelligence, Machine Learning
3. Design: Graphic Design, User Interface Design, User Experience Design, Animation, 3D Modeling, Video Editing
4. Writing: Copywriting, Technical Writing, Creative Writing, Content Writing, Editing, Proofreading
5. Mathematics: Algebra, Calculus, Statistics, Probability, Data Analysis
6. Science: Biology, Chemistry, Physics, Astronomy, Geology
7. Engineering: Mechanical Engineering, Electrical Engineering, Civil Engineering, Structural Engineering, Chemical Engineering
8. Healthcare: Nursing, Medical Assisting, Medical Billing, Medical Coding, Pharmacy Technician
9. Education: Teaching, Curriculum Development, Instructional Design, Educational Technology
10. Legal: Law, Contract Negotiation, Regulatory Compliance
11. Humanities: History, Philosophy, Psychology, Sociology, Anthropology
12. Languages: English, Spanish, French, German, Chinese, Japanese, Arabic
13. Arts: Music, Visual Arts, Performing Arts, Photography, Film
14. Social Sciences: Economics, Political Science, International Relations
15. Logistics: Supply Chain Management, Inventory Management, Transportation Management
16. Construction: Building, Carpentry, Masonry, Plumbing, Electrical
17. Manufacturing: Quality Control, Production Planning, Process Improvement
18. Retail: Merchandising, Store Management, Customer Service
19. Hospitality: Food Service, Hotel Management, Event Planning
20. Agriculture: Farming, Animal Husbandry, Horticulture
21. Media: Journalism, Public Relations, Social Media Management
22. Security: Surveillance, Risk Management, Crisis Management
23. Transportation: Driving, Piloting, Navigation
24. Financial Services: Banking, Investment, Insurance
25. Energy: Oil & Gas, Renewable Energy, Power Generation
26. Telecommunications: Networking, Telecommunications Engineering
27. Aerospace: Aerospace Engineering, Avionics, Flight Control
28. Government: Public Administration, Policy Analysis, Diplomacy
29. Military: Combat, Intelligence, Logistics
30. Emergency Services: Firefighting, Paramedic, Search & Rescue
31. Psychology: Cognitive Psychology, Behavioral Psychology, Counseling
32. Environmental Science: Ecology, Conservation, Sustainability
33. Culinary Arts: Cooking, Baking, Food Preparation
34. Sports: Coaching, Training, Exercise Science
35. Real Estate: Property Management, Appraisal, Brokerage
36. Tourism: Tour Guiding, Travel Planning, Hospitality
37. Religion: Theology, Biblical Studies, Ministry
38. Archaeology: Excavation, Artifact Analysis, Cultural Studies
39. Anthropology: Cultural Anthropology, Archaeology, Linguistics
40. Geography: Cartography, GIS, Remote Sensing
41. Philosophy: Ethics, Metaphysics, Epistemology
42. Art History: Art Criticism, Art Conservation, Art Theory
43. Music Theory: Composition, Orchestration, Musicology
44. Theater: Acting, Directing, Playwriting
45. Film: Cinematography, Editing, Screenwriting
46. Journalism: Reporting, Editing, Investigative Journalism
47. Public Relations: Media Relations, Crisis Management, Branding
48. Advertising: Creative Direction, Copywriting, Campaign Management
49. Economics: Macroeconomics, Microeconomics, Econometrics
50. Political Science: International Relations, Comparative Politics, Public Policy
51. Sociology: Social Theory, Social Research, Social Psychology
52. Statistics: Data Analysis, Data Mining, Data Visualization
53. Quality Assurance: Testing, Auditing, Process Improvement
54. Human Resources: Recruiting, Training, Performance Management
55. Leadership: Team Building, Conflict Resolution, Strategic Planning
56. Sales: Negotiation, Prospecting, Account Management
57. Customer Service: Problem Solving, Communication, Relationship Management
58. Project Management: Planning, Scheduling, Risk Management
59. Supply Chain Management: Logistics, Procurement, Inventory Management
60. Networking: Network Design, Network Security, Network Administration
61. Database Management: Database Design, Database Administration, Database Security
62. Web Development: HTML, CSS, JavaScript, PHP, Ruby
63. Software Engineering: Software Design, Software Testing, Software Maintenance
64. Cloud Computing: Cloud Architecture, Cloud Security, Cloud Storage
65. Artificial Intelligence: Machine Learning, Natural Language Processing, Robotics
66. Cybersecurity: Risk Analysis, Incident Response, Penetration Testing
67. Mobile Development: iOS, Android, Cross-Platform Development
68. Audio Engineering: Recording, Mixing, Mastering
69. Video Production: Cinematography, Editing, Motion Graphics
70. Animation: 2D Animation, 3D Animation, Motion Graphics

In [ ]:
# # prompting
# hardskills_extraction_prompt = f'''You want to extract all the hard skills in the following 
# job requirements description text.
# The job requirements description text is delimited by triple backticks: 
# ```{requirementsDescription}```.

# Some examples of hard skills are: python, programming, design skills, software engineering and so on.

# Provide the result in a list containing all the hard skills required by the job.

# '''

# Calculating the Scores

In [36]:
MissionId = 'rec6N2U5wJf7t3ySH'
CandidateId = 'rec0j4E310FlCL6zl'

import pandas as pd
candidate = pd.read_csv('candidate_forMatching.csv')  
mission = pd.read_csv('mission_forMatching.csv')  

# to datetime
candidate['availableFrom'] = pd.to_datetime(candidate['availableFrom'], format='%Y-%m-%d')
mission['jobStart'] = pd.to_datetime(mission['jobStart'], format='%Y-%m-%d')

In [2]:
# dataframe_to_calculate
row_1 = candidate[candidate["airtableId"] == CandidateId]
row_2 = mission[mission["airtableId"] == MissionId]

In [26]:
candidate.head(5)

,airtableId,missionId,availableFrom,availableUntil,minSalaryExpect,maxSalaryExpect,degreeSubject,missionCandidate,MissionCandidateHardSkills,missionCandidate.1,MissionCandidateLocations,missionCandidate.2,MissionCandidateLanguages
0,rec0ijxnKLBBDIYQ7,rec7MvbTywFTvWryg,NaT,NaN,43000.0,45000.0,Web developer,rec0ijxnKLBBDIYQ7,"javascript,ruby-on-rails",rec0ijxnKLBBDIYQ7,europe/france,rec0ijxnKLBBDIYQ7,en
1,rec0int3CbDJkliSl,recUwquxTAuaSpYwc,NaT,NaN,120000.0,NaN,Biotechnology & Pharmaceutical Management,rec0int3CbDJkliSl,"healthcare,ivd",rec0int3CbDJkliSl,europe/france,rec0int3CbDJkliSl,"en,fr,zh"
2,rec0j4E310FlCL6zl,rec6N2U5wJf7t3ySH,2023-04-04,2023-04-30,65000.0,70000.0,Quimica agrícola,rec0j4E310FlCL6zl,"cloud-applications,hardware,software",rec0j4E310FlCL6zl,worldwide,rec0j4E310FlCL6zl,"en,es,fr"
3,rec0jTM9sbzgKMpqP,rec5Vy4oVduUs4WKq,NaT,NaN,2500.0,NaN,NaN,rec0jTM9sbzgKMpqP,"business-management,digital-marketing,electron...",NaN,NaN,rec0jTM9sbzgKMpqP,"en,hu"
4,rec0pko6Vul5U0H61,recETHEgTGsGxaBPv,2023-09-04,NaN,60000.0,NaN,Systèmes embarqués,rec0pko6Vul5U0H61,"microsoft-office,vector",rec0pko6Vul5U0H61,europe/france,rec0pko6Vul5U0H61,"en,fr"

In [4]:
mission.head(5)

,airtableId,jobStart,jobEnd,salaryMin,salaryMax,requirementsDescription,position,sectorExpMin,sectorExpMax,positionExpMin,positionExpMax,mission,MissionLocations,mission.1,MissionLanguages
0,rec03eX80AwunU8KN,NaT,NaN,50000.0,50000.0,"<ul class=""liste"">\n<li>Language: fluent Engli...",others,2.0,2.0,2.0,10.0,rec03eX80AwunU8KN,europe/germany/berlin,rec03eX80AwunU8KN,en
1,rec0t420QAE6AgEAn,2023-04-01,NaN,35000.0,55000.0,<p>● 1 year of experience minimum (with a work...,full-stack-developer,NaN,NaN,NaN,NaN,NaN,NaN,rec0t420QAE6AgEAn,fr
2,rec11F8d7djUmcYvT,NaT,NaN,24000.0,24000.0,"<ul class=""liste"">\n<li>Bachelor or Master in ...",sales-manager,0.0,0.0,0.0,3.0,rec11F8d7djUmcYvT,europe/bulgaria,rec11F8d7djUmcYvT,"bg,en"
3,rec1fLbPRArMKBz4D,NaT,NaN,48000.0,48000.0,"<ul class=""liste"">\n<li>Bachelor or Master in ...",sales-manager,0.0,0.0,0.0,3.0,rec1fLbPRArMKBz4D,europe/united-kingdom/city-of-london,rec1fLbPRArMKBz4D,en
4,rec25eM1zf8i9g7V4,NaT,NaN,8320.0,12480.0,"<ul class=""liste"">\n<li>Looking for people wit...",security-engineer,NaN,NaN,1.0,2.0,rec25eM1zf8i9g7V4,asia/india,rec25eM1zf8i9g7V4,"en,hi"

## Time_matching_score

Time_matching_score: easy
Mission.jobStart, jobEnd
MissionCandidate.availableFrom, availableUntil
1. we first only consider jobStart, equation to calculate score is:
-|jobStart - availableFrom|/100
2. the value is around [-1, 0] the higher the value the better matched.

In [39]:
row_1

,airtableId,missionId,availableFrom,availableUntil,minSalaryExpect,maxSalaryExpect,degreeSubject,missionCandidate,MissionCandidateHardSkills,missionCandidate.1,MissionCandidateLocations,missionCandidate.2,MissionCandidateLanguages
2,rec0j4E310FlCL6zl,rec6N2U5wJf7t3ySH,2023-04-04,2023-04-30,65000.0,70000.0,Quimica agrícola,rec0j4E310FlCL6zl,"cloud-applications,hardware,software",rec0j4E310FlCL6zl,worldwide,rec0j4E310FlCL6zl,"en,es,fr"

In [63]:
row_2

,airtableId,jobStart,jobEnd,salaryMin,salaryMax,requirementsDescription,position,sectorExpMin,sectorExpMax,positionExpMin,positionExpMax,mission,MissionLocations,mission.1,MissionLanguages
13,rec6N2U5wJf7t3ySH,2023-04-03,NaN,40000.0,70000.0,<p>-Previous experience in <strong>a start-up ...,cto,NaN,NaN,1.0,5.0,rec6N2U5wJf7t3ySH,europe/spain,rec6N2U5wJf7t3ySH,"es,fr"

In [62]:
# calculate the timeDelta
timeDelta = (row_2.iloc[0]['jobStart'] - row_1.iloc[0]['availableFrom'])
# then change the timeDelta to float64 values in days
timeDelta = pd.to_timedelta([timeDelta]).astype('timedelta64[D]')[0]

# apply our equation: -|timeDelta|/100
Time_matching_score = -abs(timeDelta)/100
Time_matching_score

-0.01

## Salary_matching_score

Salary_matching_score: easy Mission.salaryMin/ salaryMax, MissionCandidate.minSalaryExpect, maxSalaryExpect

we first only cansider minSalaryExpect, equation to calculate score is: -|salaryMin - minSalaryExpect|/10000
the value is around [-1, 0] the higher the value the better matched.

In [65]:
# calculate the SalaryDelta
SalaryDelta = (row_2.iloc[0]['salaryMin'] - row_1.iloc[0]['minSalaryExpect'])


# apply our equation: -|SalaryDelta|/100
Salary_matching_score = -abs(SalaryDelta)/10000
Salary_matching_score

-2.5

## HardSkill_matching_score

hardSkill_matching_score: not easy Mission.requirementsDescription (use GPT to extract hardskills required) MissionCandidateHardSkill steps to get general hardskill matching:

use GPT to extract hardskills from Mission.requirementsDescription

use GPT to generate hardskills higher level categories (expdected to be around 50)

use GPT to categorise hardskillrequired and candidatehardskill into higher level categories

count how many higher level hardskills matched

the count is the score steps to get specific hardskill matching:

count how many specific level hardskills matched

the count is the score

In [5]:
# ! pip install openai

import os
import openai
import pandas as pd
import numpy as np
import json

In [6]:
# openai.api_key = os.getenv("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")
openai.api_key = "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"
COMPLETIONS_MODEL = "text-davinci-003"


def request_completion(prompt):
    
    completion_response =   openai.Completion.create(
                            prompt=prompt,
                            temperature=0,
                            max_tokens=400,
                            top_p=1,
                            frequency_penalty=0,
                            presence_penalty=0,
                            model=COMPLETIONS_MODEL
                            )
        
    return completion_response

In [7]:
# extract the info input into prompt
requirementsDescription = row_2.iloc[0]['requirementsDescription']
requirementsDescription

"<p>-Previous experience in\xa0<strong>a start-up (2-3 years)</strong> with a <strong>tech</strong> position with <strong>responsabilities</strong><br>\n-Have an entrepreneur / startup mindset (likes taking risks)<br>\n**-**Stayed at his previous positions for <strong>at least one year</strong><br>\n-Experience with\xa0<strong>agronomic and technical issues</strong>\xa0(Vertical Farming)<br>\n-Worked in greenhouse hydroponics.<br>\n-All types of technology are accepted<br>\n-Very good technical level based on hardware and software development experience in various technological environments<br>\n-Knowledge of UX</p>\n<p>Information for recruiters !</p>\n<p>-Ideally, you should find a candidate who lives within 50 km of Cartagena!<br>\n-If this is too complicated, find a candidate who is able to travel there often.<br>\n-And if that's not possible, find a candidate who can travel there a few days a month.</p>\n"

In [16]:
# extract the info input into prompt
position = row_2.iloc[0]['position']
position

'cto'

In [17]:
# extract the info input into prompt
job_locations = row_2.iloc[0]['MissionLocations']
job_locations

'europe/spain'

In [18]:
# extract the info input into prompt
job_languages = row_2.iloc[0]['MissionLanguages']
job_languages

'es,fr'

In [8]:
candidate_hardskills = row_1.iloc[0]['MissionCandidateHardSkills']
candidate_hardskills

'cloud-applications,hardware,software'

In [19]:
degree_subjects = row_1.iloc[0]['degreeSubject']
degree_subjects

'Quimica agrícola'

In [20]:
candidate_locations = row_1.iloc[0]['MissionCandidateLocations']
candidate_locations

'worldwide'

In [21]:
candidate_languages = row_1.iloc[0]['MissionCandidateLanguages']
candidate_languages

'en,es,fr'

In [32]:
# prompting
hardskills_matching_prompt = f'''
You are a headhunter, wanting to evaluate the if the two matched between
the job requirements  
and 
the features a candidate has.

The job requirements include the job description, job position, job locations, job languages

The job requirements description text is delimited by triple backticks as follows: 
```{requirementsDescription}```. 
Please be careful, the above requirementsDescription is the requirement of the job. 
This description is NOT the experience of the candidate.
Do not mix this requirementsDescription with what candidate has experienced.

The job position is delimited by triple backticks as follows: 
```{position}```.

The job position is delimited by triple backticks as follows: 
```{job_locations}```.

The job position is delimited by triple backticks as follows: 
```{job_languages}```.



The features a candidate has includes the candidate's hardskills, degree subjects, 
locations, languages

The hardskills a candidate has is listed in a list delimited by triple backticks as follows: 
```{candidate_hardskills}```.

The degree subjects a candidate has is listed in a list delimited by triple backticks as follows: 
```{degree_subjects}```.

The locations a candidate can go is listed in a list delimited by triple backticks as follows: 
```{candidate_locations}```.

The languages a candidate can speak is listed in a list delimited by triple backticks as follows: 
```{candidate_languages}```.

You should consider all the features below:
job description, job position, job locations, job languages,
candidate's hardskills, degree subjects, candidate_locations, candidate_languages

and give the output.


The output result should have two parts: 

1. a hardskill matching Score,
just in a float value ranges from -1 to 1, 
where -1 means the candidate's hard skill not matched with the job at all, 
while 1 means they are totally matched.

2. a degree subjects matching Score,
just in a float value ranges from -1 to 1, 
where -1 means the candidate's degree subjects not matched with the job at all, 
while 1 means they are totally matched.

3. a location matching Score,
just in a float value ranges from -1 to 1, 
where -1 means the candidate's location not matched with the job at all, 
while 1 means they are totally matched.
If job can work remotely, then location score is 1.

4. a language matching Score,
just in a float value ranges from -1 to 1, 
where -1 means the candidate's language not matched with the job at all, 
while 1 means they are totally matched.

5. a position matching Score,
just in a float value ranges from -1 to 1, 
where -1 means the candidate not matched with the job position at all, 
while 1 means they are totally matched.

6. an average matching Score,
is the average value of above 5 scores

7. the summary of your reason giving this score (around 200 words)

output the result in a JSON format with the following keys:
Hardskill_Matching_Score, Degree_Subjects_Matching_Score, Location_Matching_Score, 
Language_Matching_Score, Position_Matching_Score, Average_Matching_Score, Reason


'''

In [33]:
# Use our completion function to return a prediction
completion_response = request_completion(hardskills_matching_prompt)

In [34]:
print(completion_response['choices'][0]['text'])

{
    "Matching_Score": 0.7,
    "Reason": "The candidate has the hardskills and degree subjects that match the job requirements. The candidate is able to travel to the job location and speaks the job languages. However, the candidate does not have the required experience in a start-up and tech position with responsabilities, and has not stayed at his previous positions for at least one year. Therefore, the candidate is not a perfect match for the job, but still has a good chance of being a suitable candidate."
}

## Position_matching_score

## Location_matching_score

## Language_matching_score

## SectorExp_matching_score

## PositionExp_matching_score

## Degree_matching_score

# Generation of More Scores

From above we have three scores: 

Time_matching_score

Salary_matching_score

General_matching_score scored by OpenAI

Then, we can have a dataframe containg the following columns:

missionId, candidateId, Time_matching_score, Salary_matching_score, 
General_matching_score, OpenAI_score_reason, Status

In [ ]:
# build a function for Time_matching_score
def Time_matching_score():
  print("Hello from a function")